<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IPL 2017.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80D1661E1E5DFE31004C3C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D166321E5DFE31004C3C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80D1663D1E5DFE31004C3C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
